<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <p class="brand-link">
      <img src="{{ url_for('static', filename='dist/img/tools.svg') }}" alt="logo" class="brand-image" style="opacity: .8">
      <span class="brand-text text-white">Cafe Management</span>
    </p>



    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->

      
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a onclick="loadPage('/dashboard')" id="nav-change-dashboard" class="nav-link {% if request.path == '/dashboard' %}active{% endif %}">
              <i class="nav-icon fa fa-tachometer"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a onclick="loadPage('/orders')" id="nav-change-orders" class="nav-link {% if request.path == '/orders' %}active{% endif %}">
              <i class="nav-icon fa fa-cart-shopping"></i>
              <p>
                Orders
              </p>
            </a>
          </li>
        </ul>
        <!-- logout button -->
        <hr class="bg-white">
        <button href="#" class="btn btn-danger btn-block mt-4"><i class="fa fa-sign-out"></i></button>
        </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
